
@import "leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-routing-container.leaflet-routing-container-hide {
  display: none !important;
}

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 141 76% 42%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 141 76% 42%;
    --chart-1: 141 76% 42%;
    --chart-2: 215 80% 58%;
    --chart-3: 358 75% 58%;
    --chart-4: 45 93% 47%;
    --chart-5: 262 80% 58%;
    --chart-6: 180 76% 42%;
    --radius: 0.5rem;
    --sidebar-background: 240 4.8% 95.9%;
    --sidebar-foreground: 240 5.9% 10%;
    --sidebar-primary: 141 76% 42%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 100%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 240 5.9% 90%;
    --sidebar-ring: 141 76% 42%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 141 76% 42%;
    --primary-foreground: 141 76% 22%;
    --secondary: 240 5% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 15.9%;
    --muted-foreground: 0 0% 60%;
    --accent: 240 5% 25.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 15.9%;
    --input: 240 5% 15.9%;
    --ring: 141 76% 42%;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 141 76% 42%;
    --sidebar-primary-foreground: 141 76% 22%;
    --sidebar-accent: 240 5% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 5% 15.9%;
    --sidebar-ring: 141 76% 42%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .map-grid {
    background-color: hsl(var(--muted));
    background-image:
      linear-gradient(hsla(var(--border), 0.5) 1px, transparent 1px),
      linear-gradient(to right, hsla(var(--border), 0.5) 1px, transparent 1px);
    background-size: 2rem 2rem;
  }
}

